body{
    background-color: rgb(24, 24, 24);
    color:white;
}

#content{
    display: flex;
}

#element{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px;
    width: 350px;
    height: 230px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.coder{
    width: 40%;
    margin:0 20px;
}

.htmlline{
    background-color: #183153;
    margin: 0;
}

.imgico{
    width:16px;
}
/* コード部分のスタイル */
pre {
    margin-top: 0;
    border-radius: 5px;
    white-space: pre-wrap; /* 折り返しを有効に */
    word-wrap: break-word; /* 長い単語を適切に折り返す */
    background-color: #474747;
    padding: 20px;
    overflow-x: auto;
}

code {
    color: #4bd633;
}

#code-block{
    display: flex;
    justify-content: center;
}

/* From Uiverse.io by andrew-demchenk0 */ 
.switch {
    font-size: 17px;
    position: absolute;
    width: 64px;
    height: 34px;
    margin-top: 170px;
    margin-left: 260px;
}

.switch input {
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #73C0FC;
transition: .4s;
border-radius: 30px;
}

.slider:before {
position: absolute;
content: "";
height: 30px;
width: 30px;
border-radius: 20px;
left: 2px;
bottom: 2px;
z-index: 2;
background-color: #e8e8e8;
transition: .4s;
}

.sun svg {
position: absolute;
top: 6px;
left: 36px;
z-index: 1;
width: 24px;
height: 24px;
}

.moon svg {
fill: #73C0FC;
position: absolute;
top: 5px;
left: 5px;
z-index: 1;
width: 24px;
height: 24px;
}

/* .switch:hover */.sun svg {
animation: rotate 15s linear infinite;
}

@keyframes rotate {

0% {
    transform: rotate(0);
}

100% {
    transform: rotate(360deg);
}
}

/* .switch:hover */.moon svg {
animation: tilt 5s linear infinite;
}

@keyframes tilt {

0% {
    transform: rotate(0deg);
}

25% {
    transform: rotate(-10deg);
}

75% {
    transform: rotate(10deg);
}

100% {
    transform: rotate(0deg);
}
}

.input:checked + .slider {
background-color: #183153;
}

.input:focus + .slider {
box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
transform: translateX(30px);
}